@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Caveat');

body {margin: 0;padding: 0; }

header {

    background: #24C6DC;
    background: -webkit-linear-gradient(to right, #2af598 0%, #009efd 100%);
    background: linear-gradient(to right, #2af598 0%, #009efd 100%);
    background: -webkit-linear-gradient(to top, white, rgba(255, 255, 255, 0.2) 48%, transparent 100%), -webkit-linear-gradient(to left, #514A9D, #24C6DC);
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0.2) 48%, transparent 100%), linear-gradient(to left, #514A9D, #24C6DC);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 
 
#banner_message  {
    font-family: 'Futura Bold', 'Roboto', Helvetica, Arial, sans-serif;
    height: 83vh;
    font-weight: bold;
    font-size: 50vw; 
    color: white;
    -webkit-transform: rotateZ(-55deg);
    -ms-transform: rotateZ(-55deg);
    transform: rotateZ(-55deg);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: -7px 9px 30px rgba(0,0,0,0.5), 2px 2px 61px rgba(255,255,255,0.8);
    text-shadow: 2px 2px 61px rgba(255,255,255,0.8);
    position: relative;
}

#plane {bottom: 0;left:0;position: absolute;}

.text {
    text-align: right;
    -ms-transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 300;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    height: 80vh;
    padding-top: 20vh;
    padding-right: 10vh;}
    
  .text .undertext {
    font-family: 'Caveat', cursive;
    font-size: 3vw;}
